h2 {
    font-weight: 200;
    font-size: 2rem;
    color: #f35ca3;
    font-family: 'Indie Flower', cursive;
}

p  {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 33px;
    color: #6d44f2;
}

